@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

body {
  margin: 0 40px 0 40px;
}

.header-container {
  background-color: #636c79;
  margin-left: -40px;
  margin-right: -40px;
  margin-bottom: 80px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px 20px 50px;
}

.brand-logo img {
  height: 50px;
}

.nav-list {
  list-style-type: none;
  margin-left: 520px;
}

.nav-list-item {
  display: inline;
  padding: 20px;
}

.nav-list-item a {
  color: #e9eaec;
  text-decoration: none;
  font-size: 14px;
}

.nav-list-item a:hover,
a:active,
a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.nav-button {
  font-size: 14px;
  color: #e9eaec;
  background: transparent;
  border: 1px solid #707781;
  border-radius: 2px;
  padding: 10px 35px;
  cursor: pointer;
}

.nav-button:hover {
  border: 1px solid #ffffff;
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0 60px 175px;
}

.main-left img {
  width: 470px;
  height: 560px;
  border-radius: 5px;
}

.main-right {
  margin-top: 35px;
}

.main-heading {
  color: #ffffff;
  font-weight: bold;
  font-size: 65px;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 120px;
}

.main-description {
  color: #d3d5d8;
  font-size: 20px;
  line-height: 35px;
  width: 65%;
  margin-left: 120px;
  margin-bottom: 40px;
}

.main-search-box {
  display: flex;
  margin-left: 100px;
}

.main-search-box i {
  position: relative;
  left: 35px;
  top: 35px;
}

.main-text-box {
  background-color: #ffffff;
  border: none;
  color: #9c9d9f;
  height: 60px;
  width: 513px;
  padding: 5px 0 5px 50px;
  font-size: 18px;
}

.main-button {
  position: relative;
  right: 165px;
  height: 60px;
  margin-top: 5px;
  width: 160px;
  font-size: 18px;
  font-weight: 700;
  color: #fdfefe;
  background-color: #8bb7a2;
  border: none;
}

.section-1 {
  text-align: center;
  margin-bottom: 150px;
}

.section-1-header {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  width: 40%;
  color: #1b1d21;
  margin-bottom: 40px;
}

.section-1-numbers {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}

.section-1-numbers div {
  text-align: center;
}

.section-1-numbers div h3 {
  font-size: 40px;
  color: #000000;
  margin-bottom: 10px;
}

.section-1-numbers div p {
  color: #616161;
  font-size: 15px;
  font-weight: 700;
}

.section-1-video {
  width: 80%;
  height: 600px;
}

.section-2 {
  margin-bottom: 150px;
}

.section-2-header {
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
  width: 32%;
  color: #1b1d21;
  margin-bottom: 60px;
}

.section-2-article-1 {
  display: flex;
  justify-content: space-between;
  padding: 0 142px;
  margin-bottom: 90px;
}

.article-1-left {
  margin-top: 110px;
}

.article-1-left h3 {
  font-size: 35px;
  width: 60%;
  color: #1b1d21;
  margin-bottom: 25px;
}

.article-1-left p {
  color: #5c5e61;
  font-size: 14px;
  line-height: 25px;
  width: 50%;
  margin-bottom: 35px;
  font-weight: 600;
}

.article-1-left button {
  font-size: 16px;
  font-weight: 700;
  color: #fafcfb;
  background-color: #8bb7a2;
  border: none;
  padding: 15px 40px;
}

.article-1-right img {
  width: 450px;
  height: 500px;
}

.section-2-article-2 {
  display: flex;
  justify-content: space-between;
  padding: 0 142px;
  margin-bottom: 90px;
}

.article-2-right {
  margin-top: 110px;
  margin-left: 270px;
}

.article-2-right h3 {
  font-size: 35px;
  width: 95%;
  color: #1b1d21;
  margin-bottom: 25px;
}

.article-2-right p {
  color: #5c5e61;
  font-size: 14px;
  line-height: 25px;
  width: 95%;
  margin-bottom: 35px;
  font-weight: 600;
}

.article-2-right button {
  font-size: 16px;
  font-weight: 700;
  color: #fafcfb;
  background-color: #8bb7a2;
  border: none;
  padding: 15px 40px;
}

.article-2-left img {
  width: 450px;
  height: 500px;
}

.section-2-article-3 {
  display: flex;
  justify-content: space-between;
  padding: 0 142px;
  margin-bottom: 80px;
}

.article-3-left {
  margin-top: 110px;
}

.article-3-left h3 {
  font-size: 35px;
  width: 60%;
  color: #1b1d21;
  margin-bottom: 25px;
}

.article-3-left p {
  color: #5c5e61;
  font-size: 14px;
  line-height: 25px;
  width: 50%;
  margin-bottom: 35px;
  font-weight: 600;
}

.article-3-left button {
  font-size: 16px;
  font-weight: 700;
  color: #fafcfb;
  background-color: #8bb7a2;
  border: none;
  padding: 15px 40px;
}

.section-3 {
    margin-bottom: 80px;
}

.article-3-right img {
  width: 450px;
  height: 500px;
}

.section-3-header {
  display: flex;
  justify-content: space-between;
  padding: 0 180px 0 140px;
}

.section-3-header h3 {
  font-size: 40px;
  width: 32%;
  color: #1b1d21;
  margin-bottom: 60px;
}

.section-3-header p {
  font-size: 16px;
  font-weight: 600;
  color: #5c5e61;
  width: 40%;
  line-height: 25px;
  margin-bottom: -30px;
}

.section-3-body {
  display: flex;
  padding: 0 142px;
  margin-bottom: 50px;
}

.section-3-body div img {
  width: 350px;
  height: 420px;
}

.section-3-body div img {
  margin-left: 45px;
  margin-bottom: 15px;
}

.section-3-body div:first-child img {
  margin-left: 0;
}

.section-3-body-header {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #1b1d21;
  margin-left: 45px;
}

.section-3-body div:first-child .section-3-body-header {
  margin-left: 0;
}

.section-3-body-description {
  font-size: 13px;
  font-weight: 600;
  color: #5c5e61;
  margin-left: 45px;
}

.section-3-body div:first-child .section-3-body-description {
  margin-left: 0;
}

.section-3-footer {
  text-align: center;
}

.section-3-footer button {
  font-size: 16px;
  font-weight: 700;
  color: #fafcfb;
  background-color: #8bb7a2;
  border: none;
  padding: 15px 40px;
}

.section-4 {
  background-color: #10181d;
  margin-left: -40px;
  margin-right: -40px;
  padding: 50px 180px 80px 180px;
}

.section-4-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.section-4-header img {
  height: 40px;
}

.social-media-icons {
    display: flex;
}

.social-media-icons div {
  padding: 10px 13px;
  background-color: #282f34;
  border-radius: 50%;
  margin-left: 20px;
}

.social-media-icons div i {
  color: #c9cbcc;
}

.section-4-body {
    border-bottom: 1px solid #2e363b;
    width: 100%;
    margin-bottom: 60px;
}

.section-4-footer {
    display: flex;
    justify-content: space-between;
}

.section-4-footer ul{
    list-style-type: none;
}

.section-4-footer-list-item-1, .section-4-footer-list-item-2 , .section-4-footer-list-item-3 , .section-4-footer-list-item-4 , .section-4-footer-list-item-5  {
    margin-bottom: 10px;
}

.section-4-footer-list-item-1 a, .section-4-footer-list-item-2 a, .section-4-footer-list-item-3 a, .section-4-footer-list-item-4 a, .section-4-footer-list-item-5 a {
    color: #7a7e81;
    font-size: 11px;
    text-decoration: none;
    font-weight: 600;
}

.section-4-footer-list-item-1:first-child a, .section-4-footer-list-item-2:first-child a, .section-4-footer-list-item-3:first-child a, .section-4-footer-list-item-4:first-child a, .section-4-footer-list-item-5:first-child a {
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}
